%section.section--center.mdl-grid.mdl-grid--no-spacing.mdl-shadow--2dp
  .mdl-card.mdl-cell.mdl-cell--12-col
    .mdl-card__supporting-text.mdl-grid.mdl-grid--no-spacing
      %h4.mdl-cell.mdl-cell--12-col
        = t('.sentences_flow')
    #sentence-cards-flow.mdl-card__supporting-text.mdl-grid.mdl-grid--no-spacing
    .mdl-card__actions
      %a#add-random-sentence-link.mdl-button{href: '#'}
        = t('.add_random_sentence')

%a#add-random-sentence.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-color--accent.mdl-color-text--accent-contrast{'data-upgraded': ',MaterialButton,MaterialRipple',
  href: sentences_sampler_path }
  = t('.add_random_sentence')
  %span.mdl-button__ripple-container
    %span.mdl-ripple