%nav.mdl-navigation
  %a.mdl-navigation__link{href: sentences_sampler_path}
    = t('.sentences_select')
  %a.mdl-navigation__link{href: 'https://github.com/r72cccp/floodapp', rel: 'nofollow', target: 'blank'}
    = t('.github_repo')
