development:
  adapter: postgresql
  encoding: unicode
  database: fludapp_deb
  pool: 32
  username: your_username
  password: 'your_password'

test:
  adapter: postgresql
  encoding: unicode
  database: fludapp_test
  pool: 5
  username: your_username
  password: 'youe_password'

