development:
  adapter: postgresql
  encoding: unicode
  database: floodapp_dev
  pool: 32
  username: your_username
  password: 'your_password'

test:
  adapter: postgresql
  encoding: unicode
  database: floodapp_test
  pool: 5
  username: your_username
  password: 'youe_password'

